@model KitapTuru

<form method="post">
    <div class="border p-3 mt-5">
        <div class="row pb-3">
            <h2>Kitap Türünü Sil</h2>
            <hr />
        </div>

        <div class="mb-3">
            <label asp-for="Ad"></label>
            <input asp-for="Ad" class="form-control" disabled/>
        </div>

        <button type="submit" class="btn btn-danger mb-2" style="width:250px">Kitap Türünü Sil</button>
        <a asp-controller="KitapTuru" asp-action="Index" class="btn btn-primary mb-2" style="width:250px">Kitap Türlerine Geri Dön</a>
    </div>
</form>

