<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>

    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            background-color: #f8f9fa;
        }

        .error-container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .error-code {
            font-size: 10rem;
        }

        .error-message {
            font-size: 2rem;
        }

        .btn-home {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="error-container">
        <div class="text-center">
            <h1 class="error-code">404</h1>
            <p class="error-message">Sayfa Bulunamadı</p>
            <a href="/" class="btn btn-primary btn-home">Anasayfa'ya Geri Dön</a>
        </div>
    </div>
</body>
</html>
