@model Customer
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <h3>Create Customer</h3>
        <form asp-action="CreateWithForm" asp-controller="Home" method="post">
              <div class="form-group">
                  <label>Customer Name : </label>
                  <input asp-for="@Model.firstName" class="form-control"/>
              </div>
            <div class="form-group">
                <label>Customer Lastname : </label>
                <input asp-for="@Model.lastName" class="form-control" />
            </div>
            <div class="form-group">
                <label>Customer Age : </label>
                <input asp-for="@Model.age" class="form-control" />
            </div>
            <div class="form-group text-right">
               <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
