@model DirectoryInfo[]
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a asp-action="Create">Create New Folder</a>
<table class="table table-hovered table-bordered">
    <thead>
     <th>Name</th>
     <th>Creation Time</th>
     <th>Full Path</th>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
        <td>@item.Name</td>
        <td>@item.CreationTime</td>
        <td>@item.FullName</td>
        <td><a asp-action="Remove" asp-route-folderName="@item.Name" class="button btn-primary">Delete Folder</a></td>
            </tr>
        }
    </tbody>
</table>